// **************************
// グローバル変数を定義
// **************************

/** ヘッダー **/
$header-h: 60px;

/** フッター **/
$footer-h: 56px;

/** フォント **/
$color-font: #333;

/** テーマ **/
$site-theme-color-light: #90A4AE;
$site-theme-color: #546E7A;
$site-theme-color-dark: #263238;
