// **************************
// グローバル変数を定義
// **************************

/** ヘッダー */
$header-h: 64px;

/** フッター */
$footer-h: 56px;

/** テーマ */
$site-theme-color-light: #90A4AE;
$site-theme-color: #546E7A;
$site-theme-color-dark: #263238;
$site-black: #333;
$site-black-theme: #18191C;
$site-black-back: #1E2023;
