// *********************************
// サイト共通のベーススタイルの定義
// *********************************
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  @apply text-site-black dark:text-gray-50 bg-white dark:bg-site-black-back;
  font-family: 'Inconsolata', monospace;
}

a {
  @apply no-underline;
}

img, svg, i { vertical-align: middle; }
